public-hoist-pattern[]=@types*
public-hoist-pattern[]=@vitest/expect # if using vitest
public-hoist-pattern[]=@testing-library/jest-dom

# The settings in .npmrc seem to override the default settings
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*