.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    border-bottom: 1px solid var(--gray-6);
    padding: var(--space-4);

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: var(--accent-2);
    }
}